.alertModal {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
}
.modalWrapper {
    display: table-cell;
    vertical-align: middle;
}

.modalContainer {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    div h3 {
        margin-top: 10px;
        margin-bottom:20px;
        color: #42b983;
    }
    .modal-body {
        margin: 20px 0;
        margin-bottom: 20px;
    }
}

.modalButton {
    margin-top:20px;
}

.cancelButton {
    background-color: #78DC9A!important;
    border-color: #78DC9A!important;
    color: 'white';
    float: right;
    margin-right:45px;
}

.confirmButton {
    color: 'white';
    background-color: #FF9D8B!important;
    border-color: #FF9D8B!important;
    margin-left:45px;
}

