@mixin circleShadow($vertical) {
	box-shadow:0 0 $vertical rgba(0,0,0,.14),0 $vertical $vertical*2 rgba(0,0,0,.28)
}

.FAB {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 56px;
	
	div {
		cursor: pointer;
        position: fixed;
        background-color: #17a2b8 !important;
        bottom: 4vh;
        right: 6vw;
        padding:18px 15px 12px 15px;
        border-radius:50%;
        @include circleShadow(4px);

        &:hover {
			.action-button__icon {
				@include circleShadow(8px);
			}
		}
	}
}

.FABText {
	background-color: #212121;
	border-radius: 0.19em;
	color: #FFF;
	display: inherit;
	font-family: 'Roboto';
	font-size: 0.8em;
	font-weight: 200;
	min-width: 15em;
	padding: 1em 2em;
	right:55px;
	bottom:-7px;
	position: absolute;
	text-align: left;
}

.displayNone {
	display: none;
}