.tableStyle {
    width: 100%;
    overflow-x: scroll;
    table{
        tbody {
            tr {
                td {
                    input {
                        max-width: 118px;
                    }
                }
            }
        } 
    }

}

.goTo {
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}