.tableStyle {
    max-height:85%;
    top:56px;
    position:relative;
    tbody {
        tr {
            td {
                input {
                    max-width: 118px;
                }
            }
        }
    }
}